body{
    background-color: rgb(101, 152, 240);
    font-family: arial;
}

.container{
    margin-left: 400px;
    color: white;
   
}
.kotaklogin{
    background-color: rgb(8, 90, 243);
    width: 500px;
    height: 500px;
    border-radius: 50px;
    padding-top: 20px;
    border: 5px solid white;
}
.header{
    text-align: center;
    margin-left: -430px;
}
.footer{
    text-align: center;
    margin-left: -450px;
}

.logo{
    text-align: center;
    
}

.username, .password{
    margin-left: 20px;
    font-size: 20px;
}

.username input{
   width: 350px;
   height: 40px;
   border: none;
   border-radius: 50px;
   margin-top: 60px;
   margin-left: 10px;
   font-size: 20px;
   
}


.password input{
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 20px;
 }

 .tombol_login{
    margin-left: 25px;
    border-radius: 10px;
    background-color: rgb(66, 253, 106);
    border: none;
    width: 450px;
    height: 40px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
 }

 .tombol_login:hover{
    background-color:  green;
 }
 .tombol_register{
    margin-top: 20px;
    text-align: center;
   
 }



 a{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
 }
